In [ ]:
# 편집모드와 명령행 모드

In [6]:
a = 10 # 주소 -> 값저장(mapping)
b = a  # 10 대입이 아닌 a 가 가르키는 주소가 b에 대입
print(a)
print(b)

10
10

In [37]:
# 주소값이 일치함을 확인
print("주소값", id(a)); print(id(b))

주소값 140714795442864
140714795442864

In [38]:
# 주소값이 다름을 확인
a = 20
print(a)
print(b)
print("주소값", id(a)); print(id(b))

20
10
주소값 140714795443184
140714795442864

In [ ]:
# 파이썬은 대소문자를 구분한다

In [11]:
type(a)

int

In [13]:
a = 10
A = 20
print(a)

10

In [18]:
# 데이터 입력: 프롬프트 텍스트
problem = input("수식을 입력하시오") # 데이터 입출력은 문자열로 입출력됨

# 연산을 위해 데이터 타입을 숫자로 변경
print(problem)
#print(int(problem)) # type casting
print(eval(problem)) # eval 평가; 해당 표현식 내용을 평가하여 실행하주는 함수

수식을 입력하시오10+20
10+20
30

In [20]:
a3 = 4.24e-3 # exponent 지수형
a4 = 0o177   # Octal 8진수 표현
print(a3)
print(a4)

0.00424
127

In [28]:
# fullName 문자열 : 기본 1차원 배열
fullName = input("이름을 입력하세요 : ")
n = fullName.rfind(" ") # Reverse find

print(fullName[0]) # 배열과 리스트의 인덱싱은 동일
print(fullName[1])
print(fullName[2])
print(n)
print("이름:", fullName[n+1:])
print("성(s)", fullName[:n])

# 숫자 int : 4byte
#    float : 4byte

이름을 입력하세요 : 김 신혁
김

신
1
이름: 신혁
성(s) 김

In [31]:
# 문자열은 'single quotation' ,'double quotation'
# ''' ''' : 주석처리

s = 'korea'

print(s+s)
print(s * 3)
print(s[0:])
print(s[4])
print(s[-1]) # R에서는 -는 제외대상에 쓰였지만, 파이썬에서는 배열 끝에서부터..
print(s[1:3]) # 끝은 제외
print(s[-2:])
print(s[-2:5])
print(s[3:-1])
print(len(s))
s.split('r')

koreakorea
koreakoreakorea
korea
a
a
or
ea
ea
e
5

['ko', 'ea']

In [32]:
# csv데이터 : comma seperator; Comma로 분리된 데이터
t = 'Seoul, Incheon, won'.split(',')
print(t) # 리스트로 분할

['Seoul', ' Incheon', ' won']

In [34]:
','.join(t) # 함수명 그대로.. 조인

'Seoul, Incheon, won'

In [36]:
# 파이썬은 객체지향프로그래밍으로 설계된 언어: 모든 것이 객체 함수도..
# C++, java는 객체지향을 별도로 학습
# python은 자체가 객체지향언어

s = 'korea'
print(s.capitalize()) # 첫자 대문자
print(s.find('r'))
print(s.count('re'))
print(s.isalpha())
print(s.isdigit())
print('0123'.isdigit())
print(s.replace('r', 'R'))
print(s.startswith('K'))
print(s.endswith('a'))

Korea
2
1
True
False
True
koRea
False
True

In [39]:
a = 3
b = 4

print(a+b, a-b, a*b, a/b)
print(a/b)
print(a%b) # 나머지 연산자 : 경우의 수를 생성할 때 : 변수가 가질 수 있는 경우의 수를 확인
print(1%2)
print(2%2)
print(3%2)
print(4%2)

print(7/4)
print(7//4)# 몫연산자

7 -1 12 0.75
0.75
3
1
0
1
0
1.75
1

In [41]:
# 내장함수 : 
# 괄호 : []:list, {}:dict,set, ():tuple, function

print("sum([1,2,3]) : ", sum([1,2,3]))
print("min([1,2,3]) : ", min([1,2,3]))
print("abs(-11) : ", abs(-11))
print("pow(2,10) : ", pow(2,10))
print("round(3.141592) : ", round(3.141592))
print("round(3.141592, 2) : ", round(3.141592, 2))

# 함수의 형태가 다르면 : 오버로딩
# 파이썬은 오버로딩이 없음 => 디폴트 매개변수

sum([1,2,3]) :  6
min([1,2,3]) :  1
abs(-11) :  11
pow(2,10) :  1024
round(3.141592) :  3
round(3.141592, 2) :  3.14

In [42]:
# 문제 : 숫자 4,7,8을 리스트로 초기화하고 합계를 출력
num = [4,7,8]
sum(num)

19

In [46]:
# 문제 : 두 수를 입력받아 몫과 나머지를 출력하시오
x = input()
y = input()
x= int(x)
y= int(y)
quotient = x//y
remainder = x%y
print(quotient, remainder)

# 파이썬의 블록은 들여쓰기임
# :(콜론)은 조건문, 반복문, 함수
if remainder == 0:
    print("짝수입니다")
else:
    print("홀수입니다")

10
2
5 0
짝수입니다

# scope

In [47]:
x = 300 # 전역변수

def myfunc(): # 함수도 리턴타입을 지정하지 않음
    x = 200   # 지역변수 : 함수와 생사를 같이 함
    print(x)
    
myfunc()
print(x)

200
300

In [50]:
# 어떤 수가 입력되어도 나머지가 0:가위, 1:바위, 2:보로 출력하시오
num = input()
re = int(num) % 3
if re == 0:
    print("가위")
elif re == 1:
    print("바위")
else:
    print("보")

15
가위

In [51]:
# random : 프로그램에서 난수는 의사난수임
import random
random.seed(1000)
print(random.randint(1,5))
elements = ["earth", 1, "air", "fire", "water"]
elements[0] = "earths"

print(random.choice(elements))
print(random.sample(elements, 2))
random.shuffle(elements)
print(elements)

4
earths
['fire', 'air']
['air', 1, 'water', 'fire', 'earths']

In [52]:
# 비교연산자와 논리연산자
a = 20
b = 10
c = a > 10 and b < 50
print(c)

c = 10<a<50
print(c)

True
True

In [53]:
# swap
x = 5
y = 6
x, y = y, x # 리턴값이 2개 이상도 가능
print(x, y)

6 5

In [54]:
# list 안에 list
# a에 저장된 것 : list주소, 리스트는 주소를 담아논 항아리

a = [1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3][:2])

a = [1,2,['a','b',['Life','is']]]
print(a[0])
print(a[2][2][0])

# 2차원 리스트
a = [['a',100, 50],['b', 90, 88],['c', 100, 100]]

[3, ['a', 'b', 'c'], 4]
['a', 'b']
1
Life

In [55]:
# 리스트(List) 를 이용한 스택(Stack)
a = [10,20,30,40,50]
a.append(60)
print(a.pop())
a.append(60)
print(a.pop())
a.append(70)
a.append(80)
print(a.pop())

60
60
80

In [56]:
# 파이썬 함수 - 리턴값의 지정은 없음

def calc(a,b):
    return a+b, a*b

x,y = calc(3,4)
print(x,y)
print(x)
x,y
args = (4,5)
calc(*args) # 포인터

7 12
7

(9, 20)

In [57]:
# Dictionary
d = { 'one':1, 'two':2 }                                                                                                  
d.items()
# mongodbv -> noSQL

dict_items([('one', 1), ('two', 2)])

In [80]:
cities = ['seoul', 'incheon', 'suwon']
print(cities.index('suwon'))
print('incheon' in cities)
print(cities.count('seoul'))
sorted(cities)
sorted(cities, reverse = True)

2
True
1

['suwon', 'seoul', 'incheon']

In [81]:
# 리스트는 데이터 삽입 삭제가 용이
print(cities)
cities.append('busan')
print(cities)
cities.insert(0,'daegu')
print(cities)
other_cities = ['jeju', 'kwangju']
print('결합', cities + other_cities) # 리스트 + 연산자
cities.append(['daejun', 'ulsan']) # 모양이 유지 됨
print(cities)
cities.append(['jeju', 'kwangju'])
print(cities)

['seoul', 'incheon', 'suwon']
['seoul', 'incheon', 'suwon', 'busan']
['daegu', 'seoul', 'incheon', 'suwon', 'busan']
결합 ['daegu', 'seoul', 'incheon', 'suwon', 'busan', 'jeju', 'kwangju']
['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejun', 'ulsan']]
['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejun', 'ulsan'], ['jeju', 'kwangju']]

In [82]:
print(cities[5][1])
cities[5][1] = 'jeju'

ulsan

In [85]:
print(cities)

['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejun', 'jeju'], ['jeju', 'kwangju']]

In [86]:
#cities.remove(cities[5][1])
del(cities[5][1])
print(cities)

['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejun'], ['jeju', 'kwangju']]

In [87]:
print(cities)

['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejun'], ['jeju', 'kwangju']]

In [88]:
print('점수입력 : ', end = ' ') # 원래는 개행 들어감 그걸 공백으로 변환
jumsu = int(input())
if jumsu >= 90: print('A')
elif jumsu >= 80: print('B')
elif jumsu >= 70: print('C')
elif jumsu >= 60: print('D')
else: print('F')

점수입력 :  15
F

In [ ]:
# 자료구조를 데이터 타입화(python core에서 사용하는 자료구조)
# list
# dict
# set
# tuple : 주로 Function의 parameter나 return 용으로 사용, 속도가 빨라서 시스템에서 주로 쓰임

In [90]:
# 다음 표(color와 mode에 따른 날씨)를 if문을 이용하여 출력하시오
# (반응에 따른 날씨 에측 프로그램)
#                 BLUE      RED
#      STEADY    화창    비오는날
#      FLASHING  구름    눈오는날

color = input()
mode = input()
if color == 'BLUE':
    if mode == 'STEADY':
        print('화창')
    elif mode == 'FLASHING':
        print('구름')
elif color == 'RED':
    if mode == 'STEADY':
        print('비오는날')
    elif mode == 'FLASHING':
        print('눈오는날')

RED
FLASHING
눈오는날

In [96]:
#  수입(revenue)과 지출(costs)을 입력받아 순수입을 출력하는 프로그램을 작성하시오
#   - 제약조건 : 소수점 이하 2자리까지 출력
#              : 수입과 지출이 동일한 경우를 고려(손익분기점)
#              : 결과 출력시 경우에 따라 순수익, 순손실도 같이 출력하도록 하시오

revenue = float(input())
costs = float(input())

income = revenue - costs

if income==0:
    print("손익분기점!")
elif income > 0:
    print("순수익 : ",round(income,2))
else:
    print("순손실 : ",round(income,2))
    
# result = "순수익 = {0:,.2f}.".format(round(profit,2)) # 포맷 문자열의 예

1561.1541654
1131.4548
순수익 :  429.7

In [ ]:
# 평균, 분산, 표준편차, 표준오차 : 데이터개수의 root값으로 나누어서
    # 분산 : 관측치 - 평균
    
# for문 :