# 2018년

In [33]:
import pandas as pd
import os
import re

os.chdir("D:/종합")
df1 = pd.read_excel("강정동 2018.xlsx")
df2 = pd.read_excel("건입동 2018.xlsx")
df3 = pd.read_excel("구좌 2018.xlsx")
df4 = pd.read_excel("남원읍 2018.xlsx")
df5 = pd.read_excel("대정읍 2018.xlsx")
df6 = pd.read_excel("색달동 2018.xlsx")
df7 = pd.read_excel("서귀동 2018.xlsx")
df8 = pd.read_excel("서호동 2018.xlsx")
df9 = pd.read_excel("성산 2018.xlsx")
df10 = pd.read_excel("아라동 2018.xlsx")
df11 = pd.read_excel("오등동 2018.xlsx")
df12 = pd.read_excel("외도일동 2018.xlsx")
df13 = pd.read_excel("용담 2018.xlsx")
df14 = pd.read_excel("우도 2018.xlsx")
df15 = pd.read_excel("월정 2018.xlsx")
df16 = pd.read_excel("표선읍 2018.xlsx")
df17 = pd.read_excel("한림읍 2018.xlsx")

## 2018년 바람

In [34]:
wind2018 = df1.loc[:"월.일",:"최대순간풍향"]
wind2018.rename(columns={"최대순간풍향":"강정동"}, inplace=True)
wind2018["건입동"] = df2["최대순간풍향"]
wind2018["구좌"] = df3[["최대순간풍향"]]
wind2018["남원읍"] = df4[["최대순간풍향"]]
wind2018["대정읍"] = df5[["최대순간풍향"]]
wind2018["색달동"] = df6[["최대순간풍향"]]
wind2018["서귀동"] = df7[["최대순간풍향"]]
wind2018["서호동"] = df8[["최대순간풍향"]]
wind2018["성산"] = df9[["최대순간풍향"]]
wind2018["아라동"] = df10[["최대순간풍향"]]
wind2018["오등동"] = df11[["최대순간풍향"]]
wind2018["외도일동"] = df12[["최대순간풍향"]]
wind2018["용담"] = df13[["최대순간풍향"]]
wind2018["우도"] = df14[["최대순간풍향"]]
wind2018["월정"] = df15[["최대순간풍향"]]
wind2018["표선읍"] = df16[["최대순간풍향"]]
wind2018["한림읍"] = df17[["최대순간풍향"]]

In [35]:
wind2018

,월.일,강정동,건입동,구좌,남원읍,대정읍,색달동,서귀동,서호동,성산,아라동,오등동,외도일동,용담,우도,월정,표선읍,한림읍
0,2018-02-01,2.8 / N,42.2 / NE,357.0 / N,353.9 / N,347.9 / NNW,332.6 / NNW,297.1 / WNW,297.1 / WNW,297.1 / WNW,297.1 / WNW,278.4 / W,42.2 / NE,40.0 / NE,356.8 / N,323.2 / NW,5.6 / N,17.5 / NNE
1,2018-02-02,16.9 / NNE,36.6 / NE,322.9 / NW,18.9 / NNE,347.3 / NNW,339.2 / NNW,310.2 / NW,310.2 / NW,310.2 / NW,310.2 / NW,137.8 / SE,36.6 / NE,40.0 / NE,350.1 / N,316.8 / NW,19.7 / NNE,34.1 / NE
2,2018-02-03,14.1 / NNE,0.0 / N,315.5 / NW,351.2 / N,347.3 / NNW,318.4 / NW,297.1 / WNW,297.1 / WNW,297.1 / WNW,297.1 / WNW,300.9 / WNW,0.0 / N,30.0 / NNE,329.1 / NNW,312.3 / NW,118.1 / ESE,23.3 / NNE
3,2018-02-04,22.5 / NNE,84.4 / E,322.7 / NW,355.4 / N,92.6 / E,322.6 / NW,312.4 / NW,312.4 / NW,312.4 / NW,312.4 / NW,312.2 / NW,84.4 / E,20.0 / NNE,329.2 / NNW,318.4 / NW,2.8 / N,20.6 / NNE
4,2018-02-05,50.6 / NE,317.8 / NW,318.9 / NW,354.2 / N,329.6 / NNW,302.4 / WNW,266.1 / W,266.1 / W,266.1 / W,266.1 / W,298.1 / WNW,317.8 / NW,350.0 / N,328.6 / NNW,311.3 / NW,129.4 / SE,150.9 / SSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2018-12-27,16.9 / NNE,87.2 / E,91.9 / E,16.4 / NNE,94.5 / E,90.5 / E,132.6 / SE,132.6 / SE,132.6 / SE,132.6 / SE,135.0 / SE,87.2 / E,100.0 / E,87.3 / E,20.7 / NNE,298.1 / WNW,350.1 / N
330,2018-12-28,2.8 / N,309.4 / NW,302.0 / WNW,270.6 / W,351.7 / N,308.7 / NW,322.3 / NW,322.3 / NW,322.3 / NW,322.3 / NW,306.6 / NW,309.4 / NW,160.0 / SSE,283.3 / WNW,305.2 / NW,337.5 / NNW,25.7 / NNE
331,2018-12-29,22.5 / NNE,22.5 / NNE,344.9 / NNW,352.6 / N,359.9 / N,312.3 / NW,330.2 / NNW,330.2 / NNW,330.2 / NNW,330.2 / NNW,334.7 / NNW,22.5 / NNE,50.0 / NE,320.4 / NW,282.2 / WNW,5.6 / N,26.6 / NNE
332,2018-12-30,16.9 / NNE,45.0 / NE,63.2 / ENE,17.1 / NNE,360.0 / N,243.2 / WSW,168.9 / S,168.9 / S,168.9 / S,168.9 / S,135.0 / SE,45.0 / NE,180.0 / S,261.1 / W,238.4 / WSW,120.9 / ESE,318.8 / NW
333,2018-12-31,28.1 / NNE,8.4 / N,300.3 / WNW,197.0 / SSW,346.3 / NNW,243.1 / WSW,170.3 / S,170.3 / S,170.3 / S,170.3 / S,146.3 / SSE,8.4 / N,210.0 / SSW,297.1 / WNW,341.7 / NNW,334.7 / NNW,356.6 / N

In [36]:
wind2018.to_excel("wind2018.xlsx")

# 2018 최저기온

In [37]:
cold2018 = df1.loc[:"월.일",:"최저기온"]
cold2018.rename(columns={"최저기온":"강정동"}, inplace=True)
cold2018["건입동"] = df2[["최저기온"]]
cold2018["구좌"] = df3[["최저기온"]]
cold2018["남원읍"] = df4[["최저기온"]]
cold2018["대정읍"] = df5[["최저기온"]]
cold2018["색달동"] = df6[["최저기온"]]
cold2018["서귀동"] = df7[["최저기온"]]
cold2018["서호동"] = df8[["최저기온"]]
cold2018["성산"] = df9[["최저기온"]]
cold2018["아라동"] = df10[["최저기온"]]
cold2018["오등동"] = df11[["최저기온"]]
cold2018["외도일동"] = df12[["최저기온"]]
cold2018["용담"] = df13[["최저기온"]]
cold2018["우도"] = df14[["최저기온"]]
cold2018["월정"] = df15[["최저기온"]]
cold2018["표선읍"] = df16[["최저기온"]]
cold2018["한림읍"] = df17[["최저기온"]]

In [38]:
del cold2018["최대순간풍향"]
cold2018

,월.일,강정동,건입동,구좌,남원읍,대정읍,색달동,서귀동,서호동,성산,아라동,오등동,외도일동,용담,우도,월정,표선읍,한림읍
0,2018-02-01,3.2,4.0,4.7,4.5,1.9,2.3,-1.9,-1.9,-1.9,-1.9,-0.7,4.0,3.3,5.3,5.5,1.1,2.8
1,2018-02-02,1.6,3.0,-0.1,3.7,0.6,2.1,-1.9,-1.9,-1.9,-1.9,-0.8,3.0,2.5,5.6,-0.5,-2.4,1.8
2,2018-02-03,-0.7,3.5,2.9,4.3,3.3,4.2,-1.5,-1.5,-1.5,-1.5,0.8,3.5,3.3,3.5,3.5,2.0,3.2
3,2018-02-04,-2.3,2.4,2.1,3.4,1.9,2.7,-2.6,-2.6,-2.6,-2.6,-0.8,2.4,2.0,3.3,2.5,1.7,1.4
4,2018-02-05,-1.7,1.9,1.6,3.1,1.9,2.8,-0.8,-0.8,-0.8,-0.8,0.3,1.9,1.3,3.6,2.3,2.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2018-12-27,1.4,10.4,6.9,10.3,8.2,9,4.5,4.5,4.5,4.5,6.2,10.4,9.5,12.0,7.4,8.2,8.6
330,2018-12-28,0.2,11.5,9.6,8,11,10.3,5.1,5.1,5.1,5.1,6.9,11.5,10.7,13.3,10.4,10.4,10.2
331,2018-12-29,1.7,10.0,7.6,10.2,9.4,9,3.2,3.2,3.2,3.2,4.8,10.0,8.8,11.8,8.8,5.7,7.7
332,2018-12-30,1.9,8.5,7.2,8.4,7.5,7.6,2.0,2.0,2.0,2.0,3.9,8.5,7.8,12.0,8.2,6.3,7.1
333,2018-12-31,3.5,10.0,7.4,6.7,6.9,7.8,4.7,4.7,4.7,4.7,6.2,10.0,9.2,12.0,8.6,8.3,8.4

In [39]:
cold2018.to_excel("cold2018.xlsx")

# 2018 최고기온

In [40]:
hot2018 = df1.loc[:"월.일",:"최고기온"]
hot2018.rename(columns={"최고기온":"강정동"}, inplace=True)
hot2018["건입동"] = df2[["최고기온"]]
hot2018["구좌"] = df3[["최고기온"]]
hot2018["남원읍"] = df4[["최고기온"]]
hot2018["대정읍"] = df5[["최고기온"]]
hot2018["색달동"] = df6[["최고기온"]]
hot2018["서귀동"] = df7[["최고기온"]]
hot2018["서호동"] = df8[["최고기온"]]
hot2018["성산"] = df9[["최고기온"]]
hot2018["아라동"] = df10[["최고기온"]]
hot2018["오등동"] = df11[["최고기온"]]
hot2018["외도일동"] = df12[["최고기온"]]
hot2018["용담"] = df13[["최고기온"]]
hot2018["우도"] = df14[["최고기온"]]
hot2018["월정"] = df15[["최고기온"]]
hot2018["표선읍"] = df16[["최고기온"]]
hot2018["한림읍"] = df17[["최고기온"]]

In [41]:
del hot2018["최대순간풍향"]
del hot2018["최저기온"]
hot2018

,월.일,강정동,건입동,구좌,남원읍,대정읍,색달동,서귀동,서호동,성산,아라동,오등동,외도일동,용담,우도,월정,표선읍,한림읍
0,2018-02-01,6.8,8.8,8.2,10.9,9.2,10.5,5.1,5.1,5.1,5.1,5.9,8.8,7.8,8.6,8.4,9.3,8.2
1,2018-02-02,6.1,10.1,9.8,12.4,11.8,11.7,7.5,7.5,7.5,7.5,7.8,10.1,9.3,10.3,10.0,10.5,10.2
2,2018-02-03,4.9,8.4,8,12.4,8.4,12.7,4.2,4.2,4.2,4.2,5.8,8.4,8.3,8.3,8.5,6.8,8.3
3,2018-02-04,0.8,4.6,4.5,9.9,5.5,10.1,1.2,1.2,1.2,1.2,2.6,4.6,4.2,5.0,4.9,5.2,4.9
4,2018-02-05,2.6,6.5,5.8,11,6.2,6.4,1.8,1.8,1.8,1.8,3.8,6.5,6.2,6.4,6.8,5.9,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2018-12-27,6.8,18.2,17.3,17.2,17,16.7,15.1,15.1,15.1,15.1,16.3,18.2,17.8,17.4,18.1,16.6,17.6
330,2018-12-28,3.2,17.0,16,20.7,18.4,20.7,14.5,14.5,14.5,14.5,15.0,17.0,15.3,16.3,16.7,19.6,16.0
331,2018-12-29,4.1,16.3,15.6,18.4,18.2,18.1,14.6,14.6,14.6,14.6,15.5,16.3,14.9,16.0,16.4,17.0,15.5
332,2018-12-30,4.1,17.8,16.9,18.7,18.1,17.6,15.0,15.0,15.0,15.0,15.6,17.8,16.7,17.1,17.7,19.1,19.1
333,2018-12-31,5.8,16.9,15.6,18.7,18.2,17.8,14.6,14.6,14.6,14.6,14.9,16.9,15.6,16.2,16.7,17.4,16.6

In [42]:
hot2018.to_excel("hot2018.xlsx")

# 2018 강우량

In [43]:
rain2017 = df1.loc[:"월.일",:"일강우량"]
rain2017.rename(columns={"일강우량":"강정동"}, inplace=True)
rain2017["건입동"] = df2[["일강우량"]]
rain2017["구좌"] = df3[["일강우량"]]
rain2017["남원읍"] = df4[["일강우량"]]
rain2017["대정읍"] = df5[["일강우량"]]
rain2017["색달동"] = df6[["일강우량"]]
rain2017["서귀동"] = df7[["일강우량"]]
rain2017["서호동"] = df8[["일강우량"]]
rain2017["성산"] = df9[["일강우량"]]
rain2017["아라동"] = df10[["일강우량"]]
rain2017["오등동"] = df11[["일강우량"]]
rain2017["외도일동"] = df12[["일강우량"]]
rain2017["용담"] = df13[["일강우량"]]
rain2017["우도"] = df14[["일강우량"]]
rain2017["월정"] = df15[["일강우량"]]
rain2017["표선읍"] = df16[["일강우량"]]
rain2017["한림읍"] = df17[["일강우량"]]

In [44]:
del rain2017["최대순간풍향"]
del rain2017["최저기온"]
del rain2017['최고기온']
rain2017

,월.일,강정동,건입동,구좌,남원읍,대정읍,색달동,서귀동,서호동,성산,아라동,오등동,외도일동,용담,우도,월정,표선읍,한림읍
0,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-02-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-02-03,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-02-04,5.8,0.6,0.0,1.0,2.5,6.0,1.0,1.0,1.0,1.0,1.0,0.6,0.5,0.0,0.0,1.0,1.0
4,2018-02-05,3.5,4.2,3.0,3.0,3.0,3.0,4.5,4.5,4.5,4.5,3.5,4.2,4.5,0.5,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2018-12-27,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0
330,2018-12-28,1.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
331,2018-12-29,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
332,2018-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,2018-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
rain2017.to_excel("rain2018.xlsx")

In [90]:
# =wind2017.loc[:,"강정동":"한림읍"]
# reg = "+"

,강정동,건입동,구좌,남원읍,대정읍,색달동,서귀동,서호동,성산,아라동,오등동,외도일동,용담,우도,월정,표선읍,한림읍
0,163.1 / SSE,45.0 / NE,325.6 / NW,353.1 / N,143.7 / SE,20.5 / NNE,19.3 / NNE,19.3 / NNE,19.3 / NNE,19.3 / NNE,143.4 / SE,163.1 / SSE,80.0 / E,316.1 / NW,316.1 / NW,316.1 / NW,316.1 / NW
1,115.3 / ESE,317.8 / NW,312.5 / NW,3.0 / N,243.3 / WSW,330.2 / NNW,173.1 / S,173.1 / S,173.1 / S,173.1 / S,165.9 / SSE,115.3 / ESE,180.0 / S,328.2 / NNW,328.2 / NNW,328.2 / NNW,328.2 / NNW
2,135.0 / SE,298.1 / WNW,312.0 / NW,188.0 / S,345.8 / NNW,329.1 / NNW,314.6 / NW,314.6 / NW,314.6 / NW,314.6 / NW,171.6 / S,135.0 / SE,320.0 / NW,317.6 / NW,317.6 / NW,317.6 / NW,317.6 / NW
3,112.5 / ESE,39.4 / NE,301.3 / WNW,342.8 / NNW,63.6 / ENE,142.6 / SE,358.3 / N,358.3 / N,358.3 / N,358.3 / N,171.6 / S,112.5 / ESE,60.0 / ENE,324.8 / NW,324.8 / NW,324.8 / NW,324.8 / NW
4,95.6 / E,56.3 / ENE,84.2 / E,65.3 / ENE,79.1 / E,101.4 / ESE,90.8 / E,90.8 / E,90.8 / E,90.8 / E,64.7 / ENE,95.6 / E,100.0 / E,78.2 / ENE,78.2 / ENE,78.2 / ENE,78.2 / ENE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,289.7 / WNW,337.5 / NNW,330.4 / NNW,349.2 / N,346.1 / NNW,14.4 / NNE,312.8 / NW,312.8 / NW,312.8 / NW,312.8 / NW,315.0 / NW,289.7 / WNW,30.0 / NNE,346.0 / NNW,346.0 / NNW,346.0 / NNW,346.0 / NNW
361,230.6 / SW,33.8 / NE,2.2 / N,180.5 / S,360.0 / N,235.0 / SW,73.6 / ENE,73.6 / ENE,73.6 / ENE,73.6 / ENE,39.4 / NE,230.6 / SW,60.0 / ENE,341.4 / NNW,341.4 / NNW,341.4 / NNW,341.4 / NNW
362,154.7 / SSE,337.5 / NNW,317.8 / NW,337.2 / NNW,356.9 / N,279.5 / W,293.4 / WNW,293.4 / WNW,293.4 / WNW,293.4 / WNW,278.4 / W,154.7 / SSE,10.0 / N,332.0 / NNW,332.0 / NNW,332.0 / NNW,332.0 / NNW
363,331.9 / NNW,0.0 / N,341.9 / NNW,33.9 / NE,336.3 / NNW,301.0 / WNW,282.5 / WNW,282.5 / WNW,282.5 / WNW,282.5 / WNW,258.8 / W,331.9 / NNW,320.0 / NW,276.5 / W,276.5 / W,276.5 / W,276.5 / W
364,326.3 / NNW,317.8 / NW,327.9 / NNW,5.0 / N,335.9 / NNW,289.5 / WNW,280.8 / W,280.8 / W,280.8 / W,280.8 / W,270.0 / W,326.3 / NNW,350.0 / N,333.4 / NNW,333.4 / NNW,333.4 / NNW,333.4 / NNW