In [14]:
import pandas as pd
import requests

addr = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/"
appkey = "61510a68756f4bff910a68756f6bffeb?"
params = "startDate=20170101&endDate=20170101"

url_addr = addr + appkey + params
url_addr

'https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/61510a68756f4bff910a68756f6bffeb?startDate=20170101&endDate=20170101'

In [13]:
re = requests.get(url_addr).json()
re

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
json_data["totCnt"]

In [ ]:
df = pd.DataFrame(json_data["data"])
df

In [ ]:
df.to_csv("20170101.csv", mode="w", encoding="utf-8-sig")

In [ ]:
df.to_csv("20170101.csv", mode="a", encoding="utf-8-sig", header=False)

In [ ]:
# 포문테스트
for i in range(1,775):
    number = i
    param = params + str(number)
    json_data = requests.get(url,param).json()
    df = pd.DataFrame(json_data["data"])
    df.to_csv("20170101.csv", mode="a", encoding="utf-8-sig", header=False)

In [17]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/61510a68756f4bff910a68756f6bffeb?"
params = "startDate=20170101" + "&endDate=20191231" + "&limit=100&number=1"
re = requests.get(url,params).json()
re["totCnt"]

774

In [69]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/55369c5ad902457ab69c5ad902157a44?"
for i in range(20190701, 20190732):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201907.csv", mode="a", encoding="utf-8-sig", header=False)

In [70]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/55369c5ad902457ab69c5ad902157a44?"
for i in range(20190801, 20190832):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201908.csv", mode="a", encoding="utf-8-sig", header=False)

In [74]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/6297ad810cf2414497ad810cf2214488?"
for i in range(20190901, 20190931):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201909.csv", mode="a", encoding="utf-8-sig", header=False)

In [75]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/6297ad810cf2414497ad810cf2214488?"
for i in range(20191001, 20191032):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201910.csv", mode="a", encoding="utf-8-sig", header=False)

In [76]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/6297ad810cf2414497ad810cf2214488?"
for i in range(20191101, 20191131):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201911.csv", mode="a", encoding="utf-8-sig", header=False)

In [78]:
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/2091358b30e611eabf4805544c722b34/2de9c7217d9b4318a9c7217d9be3189b?"
for i in range(20191201, 20191232):
    for n in range(1, 9):
        params = "startDate="+ str(i) + "&endDate=20170131" + "&limit=100&number=" + str(n)
        json_data = requests.get(url, params).json()
        df = pd.DataFrame(json_data["data"])
        df.to_csv("201912.csv", mode="a", encoding="utf-8-sig", header=False)

In [ ]:
ㅠㅠ

In [326]:
# 갯수확인
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/f397788743c111e994c4ef64bf51b7cf/"
appkey = "ae7d0d76cc704c4ebd0d76cc702c4e96?"
startDate = "20191101"
endDate = "20191131"

urls = url + appkey + "startDate=" + startDate + "&endDate=" + endDate + "&limit=100"
json_data = requests.get(urls).json()

In [327]:
json_data['totCnt']

0

In [323]:
# 뽑기
import pandas as pd
import requests

url = "https://gw.jejudatahub.net/api/proxy/f397788743c111e994c4ef64bf51b7cf/"
appkey = "4a9665f926da47a99665f926dab7a9a9?"
startDate = "20191016"
endDate = "20191031"

# for i in range(20170101, 20170116):
for n in range(1, 149):
    # params = "startDate="+ startDate + "&endDate=" + endDate + "&limit=100&number=" + str(n)
    urls = url + appkey + "startDate=" + startDate + "&endDate=" + endDate + "&limit=100&number=" + str(n)
    json_data = requests.get(urls).json()
    df = pd.DataFrame(json_data["data"])
    df.to_csv("201910b.csv", mode="a", encoding="utf-8-sig", header=False)

In [27]:
import pandas as pd
df2 = pd.read_excel("오등동 201911.xlsx", sheet_name="Sheet1")
df1 = pd.read_excel("오등동 201912.xlsx", sheet_name="Sheet1")

In [28]:
df = pd.concat([df1,df2])

In [29]:
df

      월.일       최대순간풍향  최저기온  최고기온  일강우량  최저습도  최고습도    최저기압    최고기압
0   12.31  337.5 / NNW  -0.8   3.7   0.0    56    79  1029.9  1036.4
1   12.30   315.0 / NW   3.8  12.8   0.0    69    98  1020.5  1030.0
2   12.29  101.3 / ESE   3.8  14.8  14.5    66   100  1019.0  1028.1
3   12.28    33.8 / NE   1.2   7.5   0.0    54    89  1027.1  1030.1
4   12.27   320.6 / NW   3.1   4.5   0.0    55    76  1021.8  1028.1
..    ...          ...   ...   ...   ...   ...   ...     ...     ...
25  11.05      5.6 / N   9.6  18.2   0.0    63    92  1018.1  1020.7
26  11.04    36.6 / NE   9.1  19.6   0.0    59    97  1019.3  1022.0
27  11.03  109.7 / ESE  10.7  18.8   0.0    67    93  1017.9  1021.5
28  11.02  329.1 / NNW  11.2  21.2   0.0    55    99  1017.7  1021.8
29  11.01  165.9 / SSE  10.6  21.4   0.0    37    95  1020.1  1023.8

[61 rows x 9 columns]

In [32]:
df.sort_values("월.일", ascending=True)
df

      월.일       최대순간풍향  최저기온  최고기온  일강우량  최저습도  최고습도    최저기압    최고기압
0   12.31  337.5 / NNW  -0.8   3.7   0.0    56    79  1029.9  1036.4
1   12.30   315.0 / NW   3.8  12.8   0.0    69    98  1020.5  1030.0
2   12.29  101.3 / ESE   3.8  14.8  14.5    66   100  1019.0  1028.1
3   12.28    33.8 / NE   1.2   7.5   0.0    54    89  1027.1  1030.1
4   12.27   320.6 / NW   3.1   4.5   0.0    55    76  1021.8  1028.1
..    ...          ...   ...   ...   ...   ...   ...     ...     ...
25  11.05      5.6 / N   9.6  18.2   0.0    63    92  1018.1  1020.7
26  11.04    36.6 / NE   9.1  19.6   0.0    59    97  1019.3  1022.0
27  11.03  109.7 / ESE  10.7  18.8   0.0    67    93  1017.9  1021.5
28  11.02  329.1 / NNW  11.2  21.2   0.0    55    99  1017.7  1021.8
29  11.01  165.9 / SSE  10.6  21.4   0.0    37    95  1020.1  1023.8

[61 rows x 9 columns]

In [2]:
import pandas as pd
df = pd.read_excel("한림읍 명월리 201701.xlsx", sheet_name="Sheet1")
df

     월.일       최대순간풍향  최저기온  최고기온  일강우량  최저습도  최고습도   최저기압   최고기압
0   1.01    37.6 / NE   4.3  12.3   0.0    60    82  ( : )  ( : )
1   1.02   22.0 / NNE   8.5  13.8   0.5    74    94  ( : )  ( : )
2   1.03    35.9 / NE   4.3  10.7   0.0    58    86  ( : )  ( : )
3   1.04   27.5 / NNE   4.2  12.2   0.0    52    85  ( : )  ( : )
4   1.05     83.8 / E   7.9  14.1   0.0    62    84  ( : )  ( : )
5   1.06     99.1 / E   7.1  14.7   0.5    55    87  ( : )  ( : )
6   1.07   68.4 / ENE   5.4  13.8   7.5    72    98  ( : )  ( : )
7   1.08    55.3 / NE   9.1  12.8   6.0    69    99  ( : )  ( : )
8   1.09      5.4 / N   5.6   9.3   0.0    61    81  ( : )  ( : )
9   1.10    352.4 / N   4.9   7.1   0.0    50    69  ( : )  ( : )
10  1.11    359.7 / N   3.2   5.0   0.0    54    68  ( : )  ( : )
11  1.12   308.8 / NW   4.7   9.7   0.0    46    80  ( : )  ( : )
12  1.13    273.4 / W   3.0   9.7   0.0    44    66  ( : )  ( : )
13  1.14   18.8 / NNE   1.3   4.1   0.0    49    68  ( : )  ( : )
14  1.15   15.6 / NNE   0.6   4.4   0.0    48    66  ( : )  ( : )
15  1.16      3.3 / N   1.4   5.4   0.0    50    69  ( : )  ( : )
16  1.17   24.9 / NNE   0.9   7.3   0.0    59    79  ( : )  ( : )
17  1.18    36.3 / NE   2.3   7.5   0.0    56    83  ( : )  ( : )
18  1.19    33.8 / NE   4.1   7.5   0.0    57    72  ( : )  ( : )
19  1.20      8.2 / N   0.2   7.3   1.0    49    86  ( : )  ( : )
20  1.21   17.7 / NNE   2.0   6.3   0.0    52    73  ( : )  ( : )
21  1.22    351.3 / N   1.1   6.1   1.5    46    88  ( : )  ( : )
22  1.23   33.1 / NNE   0.4   3.6   0.0    49    77  ( : )  ( : )
23  1.24    353.1 / N   1.9   4.7   0.0    52    77  ( : )  ( : )
24  1.25   24.9 / NNE   0.3   5.9   0.0    55    72  ( : )  ( : )
25  1.26    40.1 / NE   0.4   8.8   0.0    55    78  ( : )  ( : )
26  1.27   304.5 / NW   0.8  10.9   0.0    51    87  ( : )  ( : )
27  1.28  203.7 / SSW   0.7  13.0   0.0    42    76  ( : )  ( : )
28  1.29      4.5 / N   7.7  17.5   3.0    51    97  ( : )  ( : )
29  1.30  211.0 / SSW   1.2   8.0   0.0    58    96  ( : )  ( : )
30  1.31   25.3 / NNE   0.2   5.0   0.0    59    73  ( : )  ( : )

In [35]:
import pandas as pd
import os

os.chdir("D:/weather/강정동")

df1 = pd.read_excel("강정동 201701.xlsx", sheet_name="강정동 201701.csv")
df2 = pd.read_excel("강정동 201703.xlsx", sheet_name="강정동 201703.csv")
# df3 = pd.read_excel("강정동 201703.xlsx", sheet_name="강정동 201703.csv")
# df4 = pd.read_excel("강정동 201704.xlsx", sheet_name="강정동 201704.csv")
# df5 = pd.read_excel("강정동 201705.xlsx", sheet_name="강정동 201705.csv")
# df6 = pd.read_excel("강정동 201706.xlsx", sheet_name="강정동 201706.csv")
# df7 = pd.read_excel("강정동 201707.xlsx", sheet_name="강정동 201707.csv")
# df8 = pd.read_excel("강정동 201708.xlsx", sheet_name="강정동 201708.csv")
# df9 = pd.read_excel("강정동 201709.xlsx", sheet_name="강정동 201709.csv")
# df10 = pd.read_excel("강정동 201710.xlsx", sheet_name="강정동 201710.csv")
# df11 = pd.read_excel("강정동 201711.xlsx", sheet_name="강정동 201711.csv")
# df12 = pd.read_excel("강정동 201712.xlsx", sheet_name="강정동 201712.csv")

dd = pd.concat([df1,df2])
#,df4,df5,df6,df7,df8,df9,df10,df11,df12

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [36]:
dd

,월.일,일강우량,최고기압,최고기온,최고습도,최대순간풍향,최저기압,최저기온,최저습도,3.01,309.4 / NW,4.7,15,0,46,85
0,1.01,0.0,NaN,14.4,92.0,163.1 / SSE,NaN,3.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.02,0.0,NaN,15.0,97.0,115.3 / ESE,NaN,7.8,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.03,0.0,NaN,15.7,94.0,135.0 / SE,NaN,5.9,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.04,0.0,NaN,15.7,85.0,112.5 / ESE,NaN,3.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.05,0.0,NaN,14.3,90.0,95.6 / E,NaN,7.5,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.27,348.8 / N,5.2,12.2,2.5,36.0,91.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.28,210.9 / SSW,2.5,14.7,0.0,33.0,80.0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.29,210.9 / SSW,8.3,17.0,5.0,74.0,96.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.30,185.6 / S,7.2,16.7,0.0,59.0,93.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.31,250.3 / WSW,6.6,14.3,7.5,61.0,95.0

In [30]:
import pandas as pd
import os

os.chdir("D:/weather/오등동")

df1 = pd.read_excel("오등동 201701.xlsx", sheet_name="Sheet1")
df2 = pd.read_excel("오등동 201702.xlsx", sheet_name="Sheet1")
df3 = pd.read_excel("오등동 201703.xlsx", sheet_name="Sheet1")
df4 = pd.read_excel("오등동 201704.xlsx", sheet_name="Sheet1")
df5 = pd.read_excel("오등동 201705.xlsx", sheet_name="Sheet1")
df6 = pd.read_excel("오등동 201706.xlsx", sheet_name="Sheet1")
df7 = pd.read_excel("오등동 201707.xlsx", sheet_name="Sheet1")
df8 = pd.read_excel("오등동 201708.xlsx", sheet_name="Sheet1")
df9 = pd.read_excel("오등동 201709.xlsx", sheet_name="Sheet1")
df10 = pd.read_excel("오등동 201710.xlsx", sheet_name="Sheet1")
df11 = pd.read_excel("오등동 201711.xlsx", sheet_name="Sheet1")
df12 = pd.read_excel("오등동 201712.xlsx", sheet_name="Sheet1")

data = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [50]:
data.to_csv('오등동 2017.csv',header = True, index = True)

In [ ]:
import pandas as pd
import os

os.chdir("D:/weather/건입동")

df1 = pd.read_excel("건입동 201701.xlsx", sheet_name="Sheet1")
df2 = pd.read_excel("건입동 201702.xlsx", sheet_name="Sheet1")

data = pd.concat([df1,df2])

In [61]:
data

,12.01,8.4 / N,3.9,8.2,0,39,67,2.01,334.7 / NNW,1.4,...,85,월.일,최대순간풍향,최저기온,최고기온,일강우량,최저습도,최고습도,최저기압,최고기압
0,12.02,39.4 / NE,2.9,10.8,0.0,49.0,69.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12.03,22.5 / NNE,5.4,14.3,0.0,49.0,75.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.04,312.2 / NW,5.8,12.3,0.0,49.0,79.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12.05,16.9 / NNE,2.4,7.5,4.3,47.0,90.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.06,28.1 / NNE,5.7,11.3,0.2,39.0,75.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.27,315.0 / NW,-2.2,3.1,0.0,56.0,79.0,1030.4,1033.1
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.28,39.4 / NE,-2.2,5.4,0.0,54.0,77.0,1028.3,1033.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.29,278.4 / W,0.0,10.1,0.0,48.0,87.0,1027.8,1031.2
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.30,258.8 / W,6.4,10.6,4.5,50.0,91.0,1023.6,1029.1
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.31,270.0 / W,3.9,7.5,5.0,50.0,92.0,1023.6,1027.5

In [58]:
import pandas as pd
import os

os.chdir("D:/weather/건입동")

df1 = pd.read_csv("건입동 201701.xlsx")
df2 = pd.read_csv("건입동 201702.xlsx")
df3 = pd.read_csv("건입동 201703.xlsx")
df4 = pd.read_csv("건입동 201704.xlsx")
df5 = pd.read_csv("건입동 201705.xlsx")
df6 = pd.read_csv("건입동 201706.xlsx")
df7 = pd.read_csv("건입동 201707.xlsx")
df8 = pd.read_csv("건입동 201708.xlsx")
df9 = pd.read_csv("건입동 201709.xlsx")
df10 = pd.read_csv("건입동 201710.xlsx")
df11 = pd.read_csv("건입동 201711.xlsx")
df12 = pd.read_csv("건입동 201712.xlsx")

data = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2